<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.justfor.seckill.dao.UserMapper">

    <select id="get" resultType="User" >
        select * from t
        limit 0,10;
    </select>

    <select id="getById" parameterType="long">
        SELECT *
        FROM
    </select>


</mapper>

